@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Ubuntu:wght@400;500;700&display=swap');

main {
  min-height: 80vh;
  color: '#b36458';
  background-color: rgb(245, 250, 245);
}
.inputBG {
  background-color: white;
}

header {
  background-color: #dbf2e3;
}
.white {
  color: white;
}

footer {
  background-color: #dbf2e3;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating {
  text-align: center;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 20px;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  object-fit: cover;
  height: 550px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.carousel a {
  margin: 0 auto;
}

.PhoneInput {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.5rem + 0px);
  padding: 0.75rem 1.5rem;
  color: #55595c;
  background-color: #f7f7f9;
  background-clip: padding-box;
  border: 0px solid #ced4da;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.PhoneInputInput {
  height: calc(1.4em + 1.4rem + 0px);
  background-color: #f7f7f9;
  background-clip: padding-box;
  border: 0px solid #ced4da;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 0px solid #ced4da;
  outline: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.signup-bundle-options {
  width: 80%;
}

.signup-bundle-button {
  margin: 0 auto;
}

.update-button {
  background-color: rgb(82, 78, 78);
  border-radius: 5px;
}

sup {
  top: -0.8em;
  right: 0.8em;
  position: relative;
  font-size: 80%;
  line-height: 0;
  vertical-align: baseline;
}

.badge {
  width: 1.8em;
  height: 1.8em;
  font-weight: bolder;
}

.badge:hover {
  background-color: #ced4da;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.popup {
  width: 300px;
  background-color: black;
  border-radius: 4px;
}

.popup p {
  font-family: 'Times New Roman', Times, serif;
}

.farm-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.farm-details img {
  display: block;
  width: 20%;
}

a.dropdown-item {
  color: #b36458;
}

.navbar-light .navbar-nav .nav-link {
  color: #b36458;
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover {
  color: #ce938a;
}

.mr-sm-2 ml-sm-5 form-control {
  border-radius: 30px;
}

.search-btn {
  background-color: #4bbf73;
  width: 100px;
  border-radius: 10px;
}

.header {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
  padding-bottom: 0px;
}

.sub-header {
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
  width: 75%;
  margin: 0 auto;
}

.veggies-pic {
  transform: rotate(180deg);
}
