main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating {
  text-align: center;
}
.rating span {
  margin: 0.1rem;
}

/* carousel */

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.carousel a {
  margin: 0 auto;
}

.PhoneInput {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.5rem + 0px);
  padding: 0.75rem 1.5rem;

  color: #55595c;
  background-color: #f7f7f9;
  background-clip: padding-box;
  border: 0px solid #ced4da;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.PhoneInputInput {
  height: calc(1.4em + 1.4rem + 0px);

  background-color: #f7f7f9;
  background-clip: padding-box;
  border: 0px solid #ced4da;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 0px solid #ced4da;
  outline: none;

  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.signup-bundle-options {
  width: 80%;
}
.signup-bundle-button {
  margin: 0 auto;
}

.update-button {
  background-color: rgb(82, 78, 78);
  border-radius: 5px;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
